[run]
branch = True
source = pynocchio_comic_reader
omit =
    pynocchio_comic_reader/lib/uic_files/ui_*.py
    pynocchio_comic_reader/lib/uic_files/main_window_view_rc.py
    pynocchio_comic_reader//lib/pynocchio_exception.py
    pynocchio_comic_reader/lib/preference_dialog.py
    pynocchio_comic_reader/lib/about_dialog.py
    pynocchio_comic_reader/lib/bookmark.py
    pynocchio_comic_reader/main.py
