[run]
branch = True
source = pynocchio
omit =
    pynocchio/uic_files/*_ui.py
    pynocchio/uic_files/main_window_view_rc.py
    pynocchio/exception.py
    pynocchio/preference_dialog.py
    pynocchio-client.py
