[Desktop Entry]
Name=Pynocchio Comic Reader
GenericName=Comic Book Viewer
Comment=A image viewer specialized in manga/comic reading
Exec=python python-pynocchio-comic-reader/usr/lib/python2.7/dist-packages/src/pynocchio.py
Terminal=false
Type=Application
MimeType=application/x-pynocchio;application/x-cbz;application/x-cbr;application/x-cbr;
Icon=/usr/share/pynocchio/pynocchio_icon.png
Categories=Graphics;Viewer;
Keywords=comic;viewer;reader;


