Source: pynocchio-comic-reader
Section: contrib/graphics
Priority: medium
Maintainer: Michell Stuttgart <michellstut@gmail.com>
Build-Depends: debhelper (>= 9.0.0), python-support (>= 0.6), python-all-dev, python-qt4-dev, python-qt4-sql
Standards-Version: 3.9.5
Homepage: https://github.com/mstuttgart/pynocchio-comic-reader
#Vcs-Git: git://git.debian.org/collab-maint/pynocchio-comic-reader.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/pynocchio-comic-reader.git;a=summary

Package: pynocchio-comic-reader
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Pynocchio Comic Reader
 Pynocchio Comic Reader is a image viewer specialized in manga/comic reading.
 Source: pynocchio-comic-reader
