Package: pynocchio-comic-reader
Version: 0.1
Section: graphics
Maintainer: Michell Stuttgart <michellstut@gmail.com>
Build-Depends: debhelper (>=7.0.50~), python-support (>= 0.6), cdbs (>= 0.4.49), python-all-dev, python-qt4-dev, python-qt4-sql
Architecture: all
Homepage: https://github.com/mstuttgart/pynocchio-comic-reader
Depends: python, python-qt4, python-qt4-sql, unrar
Standards-Version: 3.9.5
Description: Pynocchio Comic Reader
 Pynocchio Comic Reader is a image viewer specialized in manga/comic reading.
Source: pynocchio-comic-reader
