Package: pynocchio
Version: 0.0.1
Maintainer: Michell Stuttgart <michellstut@gmail.com>
Installed-Size: 37000
Section: graphics
Priority: optional
Homepage: https://github.com/mstuttgart/pynocchio-comic-reader
Depends: python (>= 2.6.6-3), python (<< 3.0)
Architecture: amd64
Description: Best Comic Reader based in PySide
 Pynocchio Comic Reader is a new and nice image viewer 
 which uses PySide API specialized in comic reading.
 It is a comic reader that allow read cbr, cbz and cbt files
 and have nice elementary icons theme on your interface.




