Package: pynocchio-comic-reader
Version: 0.1-1
Architecture: amd64
Maintainer: Michell Stuttgart <michellstut@gmail.com>
Installed-Size: 27
Section: contrib/graphics
Priority: medium
Homepage: https://github.com/mstuttgart/pynocchio-comic-reader
Description: Pynocchio Comic Reader
 Pynocchio Comic Reader is a image viewer specialized in manga/comic reading.
 Source: pynocchio-comic-reader
