Package: pynocchio
Version: 3.2.1
Architecture: amd64
Section: graphics
Priority: extra
Maintainer: Michell Stuttgart Faria <michellstut@gmail.com>
Depends: python3 (>=3.5.0), libqt5sql5-sqlite (>= 5.2.1)
Description: Image viewer specialized in comic reading.
 Pynocchio is a new and nice image viewer specialized in
 comic reading. It is a comic reader that allow read cbr,
 cbz and cbt files and have nice elementary icons theme on your
 interface.
