[Desktop Entry]
Name=Pynocchio
GenericName=Comic Book Viewer
Comment=A image viewer specialized in manga/comic reading
Exec=pynocchio
Terminal=false
Type=Application
MimeType=application/x-cbz;application/x-cbr;application/x-cbt;application/x-zip;application/x-rar;application/x-7z;
Icon=pynocchio
Categories=Graphics;Viewer;
Keywords=comic;viewer;reader;
Encoding=UTF-8
StartupNotify=false
